<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Assessment - Aniruddhsinh - NestJs REST API</title>
  </head>
  <body>
    <%= message %>
  </body>
</html>